# .editorconfig
# http://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
max_line_length = 98

[*.{md,org,rst}]
max_line_length = 80
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
